[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Hostmare Player
Comment=Hostmare Player
Exec=xibo-player
Terminal=false
Icon=${SNAP}/meta/gui/hostmare-player.png