[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Hostmare Player Options
Comment=Hostmare Player Options
Exec=xibo-player.options
Terminal=false
Icon=${SNAP}/meta/gui/hostmare-player.png